.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  margin: 0 auto;
  padding: 0;
  padding-bottom: 100px;

  @media (max-width: $vp-1023) {
    padding-bottom: 80px;
  }

  @media (max-width: $vp-767) {
    padding-top: 35px;
    padding-bottom: 74px;
  }
}

.about__wrap {
  padding-left: 290px;
  min-height: 320px;

  display: flex;
  flex-direction: column;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/about-2022.png");
    left: 40px;
    width: 150px;
    height: 320px;

    @media (min-resolution: 2dppx) {
      position: absolute;
      content: "";
      background-image: url("../img/about-2022@2x.webp");
      left: 0;
      width: 150px;
      height: 320px;
    }
  }

  @media (max-width: $vp-1023) {
    padding-left: 225px;
    padding-right: 0;
  }


  @media (max-width: $vp-767) {
    padding-left: 25px;

    &::before {
      display: none;
    }
  }
}


.about__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  margin: 0;

  @media (max-width: $vp-767) {
    font-size: 28px;
  }
}

.about__description {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #041827;

  margin: 0;
  max-width: 970px;

  @media (max-width: $vp-1023) {
    max-width: 495px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 18px;
    max-width: 270px;
  }
}

.about__description p {
  @media (max-width: $vp-1023) {
    margin-top: 12px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.about__description--full p {
  margin-top: 15px;
}

.about__description--mobile p {
  margin: 0;

  @media (max-width: $vp-1023) {
    margin-top: 0;
  }

  @media (max-width: $vp-767) {
    margin-top: 0;
  }
}

.about__description--hidden p {
  @media (max-width: $vp-1023) {
    margin-top: 0;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.about__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #00b2ff;
  background-color: #ffffff;

  border: 1px solid #00b2ff;
  border-radius: 3px;
  padding: 12px;
  width: 180px;
  margin-top: 40px;

  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: $vp-1023) {
    margin-top: 15px;
  }

  @media (max-width: $vp-767) {
    padding: 0;
    margin-top: 0;
    width: 160px;
    height: 35px;
  }
}
