.advantages {
  width: 100%;

  margin: 0 auto;
  min-height: 870px;
  padding: 120px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $vp-1023) {
    max-width: 767px;
    min-height: 910px;
    padding: 75px 0;
  }

  @media (max-width: $vp-767) {
    max-width: 320px;
    min-height: 1520px;
    padding: 50px 0;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  list-style: none;

  max-width: 1222px;
  min-height: 630px;
  margin: 0 auto;
  padding: 0;


  @media (max-width: $vp-1023) {
    gap: 30px;

    max-width: 670px;
    min-height: 750px;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    padding-left: 0;

    max-width: 320px;
  }
}

.advantages__item {
  border: 1px solid #ebebeb;
  min-height: 300px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 5px;
    height: 100%;
    left: 0;
    background: #00b2ff;
  }

  &:hover {
    background: #00b2ff;
    color: #f2f5f6;
  }

  @media (max-width: $vp-1023) {
    min-height: 360px;

    &::before {
      height: 100%;
    }
  }

  @media (max-width: $vp-767) {
    max-width: 270px;
    max-height: 340px;
    min-height: 325px;

    &::before {
      height: 100%;
    }
  }
}

.advantages__item:hover h3,
.advantages__item:hover p,
.advantages__item:hover use {
  stroke: #f2f5f6;
  color: #f2f5f6;
}


.advantages__item-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 45px 35px;

  @media (max-width: $vp-1023) {
    min-height: 360px;
  }

  @media (max-width: $vp-767) {
    padding: 30px 30px 35px;
    max-width: 270px;
    min-height: 325px;
    max-height: 340px;
  }
}

.advantages__icon {
  width: 35px;
  height: 35px;

  @media (max-width: $vp-767) {
    width: 30px;
    height: 30px;
  }
}

.advantages__icon use {
  color: #00b2ff;
}

.advantages__icon:hover {
  stroke: #f2f5f6;
  fill: #f2f5f6;
}


.advantages__title h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #00b2ff;

  margin: 0;
  margin-bottom: 5px;
  padding-top: 20px;

  &:hover {
    color: #f2f5f6;
  }

  @media (max-width: $vp-767) {
    font-size: 20px;
    padding-top: 12px;
  }
}

.advantages__item-wrap p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;

  color: #041827;

  max-width: 505px;
  margin: 0;

  &:hover {
    color: #f2f5f6;
  }

  @media (max-width: $vp-1023) {
    max-width: 245px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    max-width: 210px;
  }
}

