.catalog {
  min-height: 960px;
  width: 100%;

  position: relative;
  z-index: 100;

  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 140px;

  background-color: #041827;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: $vp-1023) {
    max-width: 1023px;
    min-height: 1080px;

    padding: 55px 0 75px;
  }

  @media (max-width: $vp-767) {
    max-width: 767px;
    min-height: 1050px;

    padding-top: 50px;
    padding-bottom: 86px;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: $vp-320) {
    max-width: 320px;
  }
}


.catalog__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  color: #ffffff;

  margin: 0 auto;
  margin-bottom: 50px;

  @media (max-width: $vp-1023) {
    max-width: 670px;
    margin-bottom: 40px;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.catalog__title.catalog__title--mobile {
  display: none;

  @media (max-width: $vp-1023) {
    display: none;
  }

  @media (max-width: $vp-767) {
    display: inline-block;
    font-size: 28px;
    line-height: 39px;

    margin-bottom: 25px;
  }
}

.catalog__title--mobile p {
  @media (max-width: $vp-767) {
    margin: 0;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 1222px;

  gap: 85px;

  padding: 0;
  margin: 0 auto;

  list-style: none;

  @media (max-width: $vp-1023) {
    display: flex;
    flex-direction: column;
    gap: 30px;

    max-width: 670px;
    min-height: 810px;
  }

  @media (max-width: $vp-767) {
    gap: 30px;

    max-width: 270px;
    min-height: 810px;
  }
}

.catalog__item {
  min-height: 650px;

  position: relative;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: $vp-1023) {
    min-height: 250px;
  }

  @media (max-width: $vp-767) {
    min-height: 250px;
  }
}


.catalog__item--installation h3 {
  @media (max-width: $vp-1023) {
    width: 140px;
  }

  @media (max-width: $vp-767) {
    width: 120px;
  }
}

.catalog__item.catalog__item--accessories {
  background-image: url("../img/cards/card-accessories-desktop.webp");
  background-position: bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-color: #00b2ff;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cards/card-accessories-desktop@2x.webp");
    background-position: bottom, left top;
    background-repeat: no-repeat, no-repeat;
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/cards/card-accessories-tablet.webp");
    background-position: bottom, left top;
    background-repeat: no-repeat, no-repeat;


    @media (min-resolution: 2dppx) {
      background-image: url("../img/cards/card-accessories-tablet@2x.webp");
      background-position: bottom, left top;
      background-repeat: no-repeat, no-repeat;
    }
  }

  @media (max-width: $vp-767) {
    background-image: url("../img/cards/card-accessories-mobile.webp");
    background-position: bottom, left top;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cards/card-accessories-mobile@2x.webp");
      background-position: bottom, left top;
      background-repeat: no-repeat, no-repeat;
    }
  }
}

.catalog__item.catalog__item--installation {
  background-image: url("../img/cards/card-installation-desktop.webp");
  background-position: bottom, left top;
  background-repeat: no-repeat, no-repeat;
  background-color: #00b2ff;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cards/card-installation-desktop@2x.webp");
    background-position: bottom, left top;
    background-repeat: no-repeat, no-repeat;
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/cards/card-installation-tablet.webp");
    background-position: bottom, left top;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cards/card-installation-tablet@2x.webp");
      background-position: bottom, left top;
      background-repeat: no-repeat, no-repeat;
    }
  }

  @media (max-width: $vp-767) {
    background-image: url("../img/cards/card-installation-mobile.webp");
    background-position: bottom, left top;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cards/card-installation-mobile@2x.webp");
      background-position: bottom, left top;
      background-repeat: no-repeat, no-repeat;
    }
  }
}

.catalog__item.catalog__item--production {
  background-image: url("../img/cards/card-production-desktop.webp");
  background-position: bottom, left top;
  background-color: #00b2ff;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/cards/card-production-desktop@2x.webp");
    background-position: bottom, left top;
    background-repeat: no-repeat, no-repeat;
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/cards/card-production-tablet.webp");
    background-position: bottom, left top;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cards/card-production-tablet@2x.webp");
      background-position: bottom, left top;
      background-repeat: no-repeat, no-repeat;
    }
  }

  @media (max-width: $vp-767) {
    background-image: url("../img/cards/card-production-mobile.webp");
    background-position: bottom, left top;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/cards/card-production-mobile@2x.webp");
      background-position: bottom, left top;
      background-repeat: no-repeat, no-repeat;
    }
  }
}

.catalog__item a {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;


  color: #ffffff;

  @media (max-width: $vp-767) {
    font-size: 18px;
  }
}

.catalog__item h3 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  margin: 0;

  position: absolute;
  content: "";
  top: 50px;
  left: 40px;

  @media (max-width: $vp-1023) {
    top: 35px;
    left: 45px;
  }

  @media (max-width: $vp-767) {
    max-width: 150px;
    top: 25px;
    left: 30px;

    font-size: 18px;
    line-height: 30px;
  }
}

.catalog__item-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 60px;
  height: 60px;
  background: #00b2ff;
  border-radius: 3px 0 0 0;

  position: absolute;
  content: "";
  bottom: 0;
  right: 0;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: $vp-767) {
    width: 40px;
    height: 40px;
  }
}

.catalog__icon {
  @media (max-width: $vp-767) {
    width: 10px;
    height: 10px;
  }
}
