.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  list-style: none;

  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  padding: 0;

  @media (min-width: $vp-320) {
    width: 100px;
    justify-content: space-around;
  }

  @media (min-width: $vp-1024) {
    width: 480px;
  }
}

.contacts__email-text {
  color: #f2f5f7;
  padding-left: 15px;

  @media (min-width: $vp-320) {
    display: none;
  }

  @media (min-width: $vp-1024) {
    display: inline-block;
  }
}

.contacts__phone-text {
  color: #f2f5f7;
  padding-left: 15px;

  @media (min-width: $vp-320) {
    display: none;
  }

  @media (min-width: $vp-1024) {
    display: inline-block;
  }
}

.contacts__email-link,
.contacts__phone-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
