.form {
  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 250px;
  width: 100%;
  max-width: 1920px;
  height: 840px;

  position: relative;

  background: #00b3ff;

  &::before {
    position: absolute;
    content: "";
    width: 1265px;
    height: 950px;
    left: -755px;
    bottom: 150px;

    background: rgba(4, 24, 39, 0.5);
    transform: rotate(-53.1deg);
  }

  &::after {
    position: absolute;
    content: "";
    width: 510px;
    height: 285px;
    top: 246px;
    right: 1000px;

    background-image: url("../img/paper-airplane.png");
    background-repeat: no-repeat;
  }

  @media (max-width: $vp-1023) {
    height: 580px;
    padding-top: 50px;
    padding-bottom: 125px;

    &::before,
    &::after {
      display: none;
    }
  }

  @media (max-width: $vp-767) {
    height: 750px;
    padding-bottom: 90px;
  }
}

.form__wrap {
  width: 585px;
  height: 420px;

  position: absolute;
  content: "";
  top: 170px;
  right: 15%;

  @media (max-width: $vp-1023) {
    position: static;
    margin: 0 auto;

    width: 670px;
    height: 405px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
    height: 610px;
  }
}

.form__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  color: #ffffff;

  margin: 0;
  margin-bottom: 15px;

  @media (max-width: $vp-767) {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 20px;
  }
}

.form__description {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  margin: 0;
  margin-bottom: 35px;

  @media (max-width: $vp-1023) {
    margin-bottom: 25px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 40px;
  }
}

.form__call {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 580px;
  height: 225px;

  @media (max-width: $vp-1023) {
    width: 670px;
    height: 305px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    width: 270px;
    height: 450px;
  }
}

.form__field {
  width: 275px;
  height: 50px;

  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border-color: transparent;

  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  padding: 15px;

  &::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;
  }

  @media (max-width: $vp-1023) {
    width: 320px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
  }
}

.form__field--name {
  margin-right: 30px;

  @media (max-width: $vp-767) {
    margin-bottom: 20px;
  }
}

.form__field--phone {
  margin-bottom: 20px;
}

.form__textarea {
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border-color: transparent;

  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  width: 580px;
  height: 155px;
  margin-bottom: 35px;
  padding: 25px 15px;

  &::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;
  }

  @media (max-width: $vp-1023) {
    width: 670px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
    margin-bottom: 30px;
  }
}

.form__button-submit {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;

  width: 265px;
  height: 45px;
  margin-right: 30px;

  background: #041427;
  border-radius: 3px;
  border-color: transparent;

  @media (max-width: $vp-1023) {
    margin-right: 85px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
    margin-bottom: 25px;
  }
}

.form__personal-info {
  width: 265px;
  height: 45px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.form__personal-info .personal-info__text {
  margin: 0;
  margin-left: 15px;
}

.form__personal-info label {
  margin: 5px;

  width: 15px;
  height: 15px;
}
