.form form {
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 510px;
    height: 285px;
    bottom: -15px;
    right: 122%;

    background-image: url("../img/paper-airplane.png");
    background-repeat: no-repeat;
  }

  @media (max-width: $vp-1023) {
    &::after {
      display: none;
    }
  }
}

.form {
  margin: 0 auto;
  padding-top: 170px;
  padding-bottom: 250px;

  width: 100%;
  min-height: 840px;

  position: relative;

  background: #00b3ff;

  &::before {
    position: absolute;
    content: "";
    width: 1265px;
    height: 950px;
    left: -465px;
    bottom: 280px;

    background: rgba(4, 24, 39, 0.5);
    transform: rotate(-43.1deg);
  }


  @media (max-width: $vp-1023) {
    max-width: 1023px;
    min-height: 580px;
    padding-top: 45px;
    padding-bottom: 115px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  @media (max-width: $vp-767) {
    min-height: 750px;
    padding-bottom: 90px;

    &::before,
    &::after {
      display: none;
    }
  }
}

.form__wrap {
  margin: 0 auto;
  padding-left: 635px;

  @media (max-width: $vp-1023) {
    padding-left: 0;
    margin: 0 auto;

    max-width: 670px;
    min-height: 405px;
  }

  @media (max-width: $vp-767) {
    max-width: 270px;
    min-height: 610px;
  }
}

.form__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;

  color: #ffffff;

  margin: 0;
  margin-bottom: 15px;

  @media (max-width: $vp-1023) {
    margin-bottom: 10px;
  }

  @media (max-width: $vp-767) {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 15px;
  }
}

.form__description {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  margin: 0;
  margin-bottom: 35px;

  @media (max-width: $vp-1023) {
    margin-bottom: 20px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 30px;
  }
}

.form__call form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 580px;
  height: 225px;

  @media (max-width: $vp-1023) {
    width: 670px;
    height: 305px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    max-width: 270px;
    min-height: 450px;
    flex-wrap: nowrap;
  }
}

.form__field input {
  width: 275px;
  height: 50px;

  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border-color: transparent;

  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  padding: 15px;

  &::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;
  }

  @media (max-width: $vp-1023) {
    width: 320px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
  }
}

.form__field--name input {
  margin-right: 30px;

  @media (max-width: $vp-767) {
    margin-bottom: 20px;
  }
}

.form__field--phone input {
  margin-bottom: 20px;
}

.form__textarea textarea {
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border-color: transparent;

  width: 580px;
  height: 155px;

  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  padding: 15px;


  &::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;
  }

  @media (max-width: $vp-1023) {
    width: 670px;
    padding: 30px 15px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
    height: 180px;
    padding: 22px 15px;
  }
}

.form__button-submit {
  margin-top: 25px;

  @media (max-width: $vp-1023) {
    margin-top: 30px;
  }

  @media (max-width: $vp-767) {
    margin-top: 25px;
  }
}

.form__button-submit button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;

  width: 265px;
  height: 45px;
  margin-right: 50px;

  background: #041427;
  border-radius: 3px;
  border-color: transparent;

  @media (max-width: $vp-1023) {
    margin-right: 80px;
    padding: 16px 25px 14px;
  }

  @media (max-width: $vp-767) {
    width: 270px;
  }
}

.form__personal-info {
  margin-top: 30px;
  width: 265px;
  height: 45px;

  display: flex;
  flex-direction: row;
  align-items: center;

  @media (max-width: $vp-767) {
    margin-top: 25px;
  }
}

.form__personal-info .personal-info__text {
  margin: 0;
  margin-left: 15px;
}

.form__personal-info label {
  margin: 5px;

  width: 15px;
  height: 15px;
}
