.intro {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0 auto;

  background-image: url("../img/intro/intro-desktop.jpg");
  background-image: url("../img/intro/intro-desktop.webp");
  background-color: #041827;
  background-position: bottom, left top;
  background-repeat: no-repeat, no-repeat;
  width: 100%;
  min-height: 880px;

  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/intro/intro-desktop@2x.jpg");
    background-image: url("../img/intro/intro-desktop@2x.webp");
    background-size: cover;
  }

  @media (max-width: $vp-1023) {
    background-image: url("../img/intro/intro-tablet.jpg");
    background-image: url("../img/intro/intro-tablet.webp");
    background-position: bottom, left top;
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    min-height: 640px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/intro-tablet@2x.jpg");
      background-image: url("../img/intro/intro-tablet@2x.webp");
      background-size: cover;
    }
  }

  @media (max-width: $vp-767) {
    background-image: url("../img/intro/intro-mobile.jpg");
    background-image: url("../img/intro/intro-mobile.webp");
    background-position: bottom, left top;
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    min-height: 560px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/intro-mobile@2x.jpg");
      background-image: url("../img/intro/intro-mobile@2x.webp");
      background-size: cover;
    }
  }

  @media (max-width: $vp-320) {
    background-image: url("../img/intro/intro-mobile.jpg");
    background-image: url("../img/intro/intro-mobile.webp");
    background-position: bottom, left top;
    background-repeat: no-repeat, no-repeat;
    width: 320px;
    min-height: 560px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/intro/intro-mobile@2x.jpg");
      background-image: url("../img/intro/intro-mobile@2x.webp");
      background-size: cover;
    }
  }
}

.intro__wrap {
  display: flex;
  flex-direction: column;

  max-width: 720px;
  min-height: 295px;

  padding: 0;
  margin: 0;
  margin-left: 28%;

  @media (max-width: $vp-1023) and (min-width: $vp-768) {
    padding-left: 20px;

    margin-left: auto;
    margin-right: auto;
  }
}

.intro__title p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #f2f5f7;

  margin: 0;
  margin-bottom: 40px;

  @media (max-width: $vp-1023) {
    font-size: 64px;
    line-height: 75px;

    margin-bottom: 20px;
  }

  @media (max-width: $vp-767) {
    font-size: 36px;
    line-height: 42px;

    margin-bottom: 20px;

    width: 270px;
  }
}

.intro__description p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;

  color: #f2f5f7;

  margin: 0;
  margin-bottom: 40px;

  @media (max-width: $vp-1023) {
    width: 670px;
    margin-bottom: 50px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 155%;

    width: 270px;
  }
}

.intro__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #f2f5f7;
  background: #00b2ff;
  border-radius: 3px;

  padding: 15px 25px;
  width: 410px;

  @media (max-width: $vp-1023) {
    margin-left: 7%;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.intro__button.intro__button--mobile {
  display: none;

  @media (max-width: $vp-767) {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;

    margin-left: 0;
    width: 270px;
  }
}
