.logo--desktop {
  width: 215px;
  height: 55px;

  @media (max-width: $vp-767) {
    display: none;
  }
}

.logo--mobile {
  display: none;

  @media (max-width: $vp-767) {
    display: inline-block;
  }
}
