.main-header {
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
  width: 100%;
  min-height: 120px;
  margin: 0 auto;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;

  @include vp-1023 {
    position: absolute;
    min-height: 100px;
  }

  @include vp-767 {
    padding: 0 50px;
    min-width: 320px;
    min-height: 70px;
  }
}


.main-header__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  min-height: 120px;

  margin: 0 auto;

  @media (max-width: $vp-1023) {
    justify-content: space-between;
    max-width: 650px;
    padding: 20px 0 25px;
    margin: 0;
    min-height: 100px;
  }

  @media (max-width: $vp-767) {
    max-width: 290px;
    padding: 5px;
    min-height: 70px;
  }
}

.main-header__button-wrap {
  @media (max-width: $vp-1023) {
    display: none;
  }
}

.main-header__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #f2f5f7;
  background-color: transparent;
  border: 1px solid #f2f5f7;
  border-radius: 3px;

  padding: 10px 15px;
  margin-right: 60px;
  margin-bottom: 5px;
  min-width: 130px;

  @media (max-width: $vp-320) {
    display: none;
  }

  @media (max-width: $vp-1023) {
    display: none;
  }
}
