.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 500px;
    height: 610px;
    padding: 40px;

    background: #00b3ff;
    border-radius: 3px;

    display: flex;
    flex-direction: column;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;

  color: #ffffff;

  margin: 0;
  margin-bottom: 15px;
}

.modal__description {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  margin: 0;
  margin-bottom: 40px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-field {
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border-color: transparent;

  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  width: 420px;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px;

  &::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;
  }
}


.modal__textarea {
  background: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border-color: transparent;

  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;

  color: #ffffff;

  width: 420px;
  height: 155px;
  margin-bottom: 20px;
  padding: 25px 15px;

  &::placeholder {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;
  }
}

.modal__button-submit {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;

  width: 420px;
  height: 45px;

  background: #041427;
  border-radius: 3px;
  border-color: transparent;
}

.modal__personal-info {
  display: flex;
  flex-direction: row;

  width: 395px;
  height: 20px;
  margin-top: 20px;
  margin-left: 15px;
}

.modal__personal-info .personal-info__text {
  margin: 0;
  margin-left: 30px;
}

.modal__personal-info .personal-info__checkbox {
  margin: 0;
  margin-right: 10px;

  width: 15px;
  height: 15px;
}
