.site-sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 470px;

  @media (max-width: $vp-1023) {
    width: 220px;
  }

  @media (max-width: $vp-767) {
    position: relative;
  }
}

.site-sections__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;

  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #ffffff;

  margin-top: 10px;
  margin-bottom: 20px;


  @media (max-width: $vp-767) {
    margin: 0;

    &::after {
      position: absolute;
      content: "";
      border: 1px solid rgba(248, 253, 255, 0.7);
      width: 320px;
      top: 0;
    }
  }
}


.site-sections__title span {
  @media (max-width: $vp-767) {
    padding: 20px 20px 20px 25px;
    margin: 0;
  }

  //   position: relative;

  //   &::before {
  //     position: absolute;
  //     content: "";
  //     background-image: url("img/svg/plus.svg");
  //     width: 15px;
  //     height: 15px;
  //     right: 0;
  //   }
  // }
}

.site-sections__list {
  list-style: none;
  padding: 0;
  margin-top: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;

  max-height: 130px;

  @media (max-width: $vp-1023) {
    max-height: 220px;
    flex-wrap: nowrap;
  }

  @media (max-width: $vp-767) {
    max-height: 300px;
    padding-left: 25px;
    margin-bottom: 20px;
  }
}

.site-sections__item--overflow {
  margin-left: 30px;

  @media (max-width: $vp-1023) {
    margin-left: 0;
  }
}


.site-sections__link {
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 135%;

  color: rgba(255, 255, 255, 0.7);
}
