.socials {
  margin-left: 12px;
}

.socials__list {
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 150px;
  gap: 15px;

  padding: 0;
  margin: 0;
}

.socials__item {
  padding: 5px;

  &:hover {
    opacity: 0.8;
  }
}
